.outer-container{
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 200px 100px  1fr 3fr 100px;
    height: 100vh;
    grid-template-areas:
     "header"
     "hero"
     "ad"
     "main"
     "footer";
     background-color: crimson;
}
/* .button{
    color: cyan;
} */

.header-cont{
    grid-area: header;
    background-color: chartreuse;
}
.hero-cont{
    grid-area: hero;
}
.ad-cont{
    grid-area: ad;
    background-color: pink;
}
/* .ad2-cont2{
    grid-area: ad2
} */
/* .ad3-cont3{
    grid-area: ad3
} */
.main-cont{
    grid-area: main;
}
.sidbar-cont{
    grid-area: sidbar
}
.footer-cont{
    grid-area:footer;
}

@media (min-width: 576px) {
    .outer-container{
        grid-template-columns: 120px 1fr 120px;
        grid-template-rows: 200px 100px auto 100px 100px;
        background-color: blueviolet;
        grid-template-areas:
        "header header header"
        "hero hero hero"
        "main main ad" 
        "sidbar sidbar sidbar"
        "footer footer footer";
    }
}
@media (min-width: 992px) {
    .outer-container{
        grid-template-columns: 1fr 250px;
        grid-template-rows: 200px 100px auto 100px;
        background-color: yellow;
        grid-template-areas:
        "header header header"
        "hero ad ad"
        "main main sidbar" 
        "footer footer footer";
    }
}