.mega-container {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 150px 50px  3fr 1fr 20px;
    padding: 20px;
    grid-template-areas:
    "header"
    "hero"
    "ad"
    "main"
    "sidebar"
    "footer"
     ".";
}
.header-cont {
    display: flex;
    flex-wrap: wrap;
    grid-area: header;
    background-color: #a3b817;
    justify-content: center;
}

    #box1 {
        font-family: Lobster;
        width: 50%;
        height: 100px;
        padding:30px;
        grid-area: box1;
}
     #box2 {
        width: 50%;
        height: 50%;
        padding-left: 47px;
        padding-bottom: 20px;
        grid-area: box2;
}
.hero-cont {
    display: flex;
    grid-area: hero;
    justify-content: center;
    padding: 7px;
}
.ad-cont {
    grid-area: ad;
    padding: 7px;
    width: 120px;
    height: 600px;   
}
.ad-con2 {
    grid-area: ad2;
    padding:2px;
    width: 468px;
    height: 60px; 
}
.main-cont {
    grid-area: main;
    text-align: justify;
    padding: 5px;

}
.sidebar-cont {
    display: flex;
    grid-area: sidebar;
    padding: 3px;
    width: 50%;
    height: 50%;
} 
.footer-cont {
    grid-area:footer;
    background-color: #a3b817;
    font-size: 10px;
 }
 @media (min-width: 576px) {
    .mega-container {
        grid-template-columns:1fr 120px;
        grid-template-rows: 150px 50px 200px 200px 20px;
        height: 100vh;
        grid-template-areas:
        "header header"
        "hero hero"
        "main ad2" 
        "sidebar sidebar"
        "footer footer"
        ".";
    
    }
 .header-cont, .footer-cont {
        background-color: #17a2b8;
        justify-content: left;
    }
 }  


 @media (min-width: 992px) {
    .mega-container{
        grid-template-columns: 1fr 250px 250px;
        grid-template-rows: 150px 80px auto 20px;    
        padding: 2px;
        grid-template-areas:
        "header header header"
        "hero ad ad"
        "main main sidebar" 
        "footer footer footer";
    }
} 